@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100&display=swap');

.texto{
    font-family: "Raleway Dots";
}

.imagen{
    background-image: url(../../../assets/FondoChat.jpg);
    background-position: center center;
}
